Flask
Jinja2
MarkupSafe
Werkzeug
asn1crypto
certifi
cffi
chardet
click
cryptography
future
idna
itsdangerous
lockfile
pidfile
pip
pyOpenSSL
pycparser
python-daemon-3K
redis
requests
setuptools
six
uWSGI
urllib3
viberbot
