[Unit]
Description=uWSGI instance for Viber command bot
After=network.target

[Service]
User=viber
Group=nginx
WorkingDirectory=/usr/local/viber
Environment="PATH=/usr/local/bin:/usr/bin:/bin:"
Environment="VIBER_CONF=/etc/viber/bot-command.conf"
ExecStart=/usr/local/viber/.virtualenv/bin/uwsgi --ini config/uwsgi.ini

[Install]
WantedBy=multi-user.target
