#
# Viber Command Bot - systemd configuration file
#

[Unit]
Description=Systemd service for Viber command bot
After=network.target

[Service]
User=viber
Group=www-data
Environment="PATH=/usr/local/bin:/usr/bin:/bin:/usr/games"
Environment="VIBER_CONF=/etc/viber/viber-command-bot.conf"
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir /var/run/viber
ExecStartPre=/bin/chown viber:www-data /var/run/viber
ExecStartPre=/bin/chmod 750 /var/run/viber
ExecStart=/usr/bin/uwsgi --ini /etc/viber/viber-command-bot.ini

[Install]
WantedBy=multi-user.target
