#
# Viber Command Bot - systemd configuration file
#

[Unit]
Description=uWSGI instance for Viber command bot
After=network.target

[Service]
User=viber
Group=nginx
Environment="PATH=/usr/local/bin:/usr/bin:/bin:"
Environment="VIBER_CONF=/etc/viber/viber-command-bot.conf"
ExecStart=/usr/local/bin/uwsgi --ini /etc/viber/viber-command-bot.ini

[Install]
WantedBy=multi-user.target
